{% extends 'base.html' %}
{% block content %}

<div class="container my-4">
    <h3>{{data.title}}</h3>
    <img src="{{data.image.url}}" alt=""><br>
    <textarea class="border border-dark mx-5 my-4 text-center"  name='name' style="width: 400px; height: 500px;">{{data.desc}}</textarea><br>
</div>


<div class="container my-5">
    {% for i in comments %}
    <h3>{{i.Name}}</h3>
    <textarea class="border border-dark mx-5 my-4 text-center" style="width: 100px; height: 50px;">{{i.comment}}</textarea><br>
</div>
{% endfor %}


{% endblock %}
